div{
   display: flex;
   align-items: center;
}
.refresh{
   border-radius: 50%;
   border: none;
   background-color: rgb(173, 173, 173);
   color: aliceblue;
   transform: scale(0.9);
   text-align: center;
   align-items: center;
   cursor: pointer;
   align-items: center;
   margin-bottom: 6%;
}

@media (max-width: 600px) {
 div{
    width: 200px;
    transform: scale(0.9);
    margin-left: -10px;
    margin-right: -20px;
 }

}