<div class="container" [formGroup]="range">
  <div class="all">
      <mat-form-field appearance="fill" style="width: 160px;">
          <input matInput [matDatepicker]="startPicker" placeholder="Data inicial" formControlName="start">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
  </div>

  <div>
      <mat-form-field appearance="fill" style="width: 160px;">
          <input matInput [matDatepicker]="endPicker" placeholder="Data final" formControlName="end" >
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
  </div>
</div>
