<main>
  <section class="main-section">
      <img src="../../../assets/fundoLogin.svg" alt="fundoLogin">
      <section class="texto-sobreposto">
      <section class="texto-imagem">
        <h2 class="titulo1">Extração de dados de <br> <strong>qualquer</strong> documento</h2>
      </section>
      <section class="texto-imagem">
        <p class="titulo2">Para você nunca mais perder tempo <br> digitando informações</p>
      </section>
      <br>
      <br>
      <section>
        <a href="#" style="margin-right: 135px;"><button  class="btn-planos">Conheça nossos planos</button></a>
      </section>
    </section>
  </section>

  <section class="form-section">
    <img src="../../../assets/di2winLogo.png"/>
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
    <button>{{ BtnText }}</button>
    </div>
    <div>
      <br>
    <p>Não tem conta? <a class="cliqueCadastrar" href="#">Clique aqui para se cadastrar.</a></p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <span class="copyright-text">Copyright © 2024 - Tecnologia
      <a href="#" class="link">Di2win®</a> . Todos os direitos reservados.</span>
  </section>

</main>



