main{
  display: flex;
  flex-direction: row;
  height: 100%;

  background-color: #F2F2F2;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  img {
    height: 85%;
    width: 100%;
  }

  .texto-sobreposto {
    position: absolute;

  }

  .main-section{
    gap: 8px;
    height: 100%;
    flex-grow: 1;
    text-align: center;
    position: relative;

  }

  .texto-imagem {
    color: white;
    padding: 4.5px;
    margin-left: 160px;
    text-align: left;


  }
  .titulo1 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .titulo2 {
    align-items: center;
    font-size: 27px;
    padding: 4.5px 0px 0px;
    margin: 0px 0px 16px;
  }

  .btn-planos {
    background-color: transparent;
    color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    border-color: #ffffff;
    align-items: end;
    cursor: pointer;
  }

  .form-section{
    flex-grow: 1;
    padding: 0 35px;
    align-items: center;

    img {
      width: 308px;
      height: 120px;
      top: 55px;
      left: 960px;
      gap: 0px;
      opacity: 0px;
    }

    h2{
      font-size: 15px;
      font-weight: 400;
      line-height: 18.15px;
      text-align: left;
      margin-bottom: 45px;
    }


    button {
      border-radius: 8px;
      width: 429px;
      height: 31px;
      top: 521px;
      left: 898px;
      gap: 10px;
      opacity: 20px;
      border: none;
      background: transparent;
      font-size: 16px;
      font-weight: 500;

      background-color: #C2B8B8;
      color: #868686;
      gap: 30px;
      cursor: pointer;
    }
  }
  .cliqueCadastrar {
    font-size: 15px;
    margin: 0 0 12px;
    padding: 0 0 8px;
    font-size: 16px;
    text-decoration: none;
    color: #0038FF;
    text-align: center;
  }

  .copirything-text {
    text-align: center;
    font-size: 14px;
  }

  .link {
    color: #cf006b;
    text-decoration: none;
  }
}



