form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 34px;
  box-shadow: none;
}

.login-form {

  margin: 0 auto;
}

.example-form mat-slide-toggle {
  margin: 8px 0;
  display: block;
}

.termos {
  margin-right: 80px;

  .span-terms {
    font-family: Montserrat, Roboto, monospace;
  }
  .link-terms {
    text-decoration: none;
    color: #007aff;
  }
}

.btns {
  align-items: start;
  button {
    border-radius: 8px;
    width: 260px;
    height: 40px;
    padding: 0px 16px;
    border: none;
    cursor: pointer;

  }
  .btn-voltar {
    background-color: black;
    margin: 0px 18px 0px 0px;
  }

  .voltar {
    color: #fff;
  }

  .btn-cadastrar {
    background-color: #0000001f;
    text-decoration: none;
  }

  .cadastrar {
    color: #00000042;
  }

}
.link-login {
  text-decoration: none;
  color: #007aff;
}
