.barra-lateral-box {
  background-color: #F3F3F3;
  width: 100%;
  height: 100%;
}
.menu-box {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  padding: 50px 0px 40px 40px;
  gap: 10px;
}
.menu-box a {
  display: block;
  text-decoration: none;
  color: #C1C1C1;
  padding: 20px 50px 20px 20px;
  cursor: pointer;
}
.menu-box a:hover {
  color: #F41D97;
}
.item-link {
  padding: 10px 0px 10px 20px;
  cursor: pointer;
  color: #a5a1a1;
}
.item-link:hover {
  color: #F41D97;
}
.menu-item {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.menu-item a {
  color: #F41D97;
}
mat-icon {
  font-size: 20px;
  padding-top: 5px;
  color: #F41D97;
}

.toggle-button {
  display: none;
}

@media (max-width: 930px) {
  .toggle-button {
    display: block;
    position:fixed;
    top: 15px;
    left: 15px;
    z-index: 2000;
    border-radius: 50%;
    border: 4px solid transparent;
    padding: 10px;background-color: #e9e8e8;
  }
  .barra-lateral-box {
    display: none;
    transition: width 0.3s ease;
    position: absolute;
    z-index: 1;
  }
  .expandir {
    display: block;
    width: 35vh;
  }
  
  .menu-box {
    gap: 8px;
    font-size: 18px;
  }
}