.baixar{
    border-color: #f41d97;
    background-color: transparent;
    color: #f41d97;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease;
}
.baixar:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .baixar {
        width: 140px;
        font-size: 13px;
        gap: 2px;
        padding: 10px 8px 10px 8px;
    }
    mat-icon{
        font-size: 20px;
    }

}