<div class="relatorio-box">
  <div class="paginas">
    <div class="analitico">
      <h1>Relatório Analítico</h1>
    </div>
    <a class="sintetico-link" routerLink="/relatorio/sintetico">
      <div class="sintetico">
        <h1>Relatório Sintetico</h1>
      </div>
    </a>
  </div>
  <hr />
</div>

<div class="filter-container">
  <app-select-documento></app-select-documento>
  <app-select-date></app-select-date>
  <app-baixar-botao-analitico></app-baixar-botao-analitico>
</div>

<app-tabela-analitico></app-tabela-analitico>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>