<app-defaul-login-layout
  title="Bem-vindo de volta!"
>
  <form class="login-form"  [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="E-mail *"
    ></app-primary-input>
    <app-primary-input
      formControlName="senha"
      inputName="senha"
      type="senha"
      label="Senha *"
    ></app-primary-input>
    <a class="esqueceuSenha" href="#">Esqueceu sua senha?</a>
  </form>
    <div class="btn-wrapper">
      <br>
      <button>ENTRAR</button>
      </div>
      <div>
        <br>
      <p>Não tem conta? <a class="cliqueCadastrar" href="http://localhost:4200/cadastr">Clique aqui para se cadastrar.</a></p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
</app-defaul-login-layout>
