.relatorio-box {
    margin-top: 50px;
    display: block;
  }
  .relatorio-box hr {
    border-color: #f41d97;
  }
  .graficos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
  }
 
  .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }
  .stacked{
    width: 60%;
    margin: 1%;
  }
  .pie{
    width: 30%;
    margin: 1%;
  }
  .line{
    width: 45%;
    margin: 1%;
  }
  .chart{
    width: 45%;
    margin: 1%;
  }

  @media(max-width:930px){
  .relatorio-box h1 {
    font-size: 20px;
  }
  .cards{
    gap: 1%;
  }
  .stacked{
    width: 100%;
  }
  .pie{
    width: 100%;
  }
  .line{
    width: 100%;
  }
  .chart{
    width: 100%;

  }

  }